version: "3.9"

services:
  main-service:
    build:
      context: ./main
      dockerfile: Dockerfile
    container_name: main-service
    restart: always
    ports:
      - "5000:5000"
    depends_on: []
    networks:
      - backend

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    restart: always
    ports:
      - "5001:5001"
    depends_on: []
    networks:
      - backend

  wallet-service:
    build:
      context: ./wallet-service
      dockerfile: Dockerfile
    container_name: wallet-service
    restart: always
    ports:
      - "5002:5002"
    depends_on: []
    networks:
      - backend

networks:
  backend:
    driver: bridge
