version: "3.9"

services:
  main-service:
    build:
      context: ./main
      dockerfile: Dockerfile
      target: dev
    env_file:
      - ./main/.env.dev
    environment:
      - AUTH_SERVICE_URL=http://auth-service:5001
      - WALLET_SERVICE_URL=http://wallet-service:5002
      - FRONTEND_URL=${FRONTEND_URL:-http://localhost:3000}
    command: sh -c "npm run dev"
    volumes:
      - ./main:/app
      - /app/node_modules
    depends_on:
      - auth-service
      - wallet-service
    networks:
      - backend

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
      target: dev
    env_file:
      - ./auth-service/.env.dev
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/swiftpaydb?schema=auth_service
      - DIRECT_URL=postgresql://postgres:postgres@postgres:5432/swiftpaydb?schema=auth_service
      - REDIS_URL=redis://redis:6379
    command: sh -c "npx prisma migrate deploy && npm run dev"
    volumes:
      - ./auth-service:/app
      - /app/node_modules
    depends_on:
      - postgres
      - redis
    networks:
      - backend

  wallet-service:
    build:
      context: ./wallet-service
      dockerfile: Dockerfile
      target: dev
    env_file:
      - ./wallet-service/.env.dev
    environment:
      - AUTH_SERVICE_URL=http://auth-service:5001
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/swiftpaydb?schema=wallet_service
      - DIRECT_URL=postgresql://postgres:postgres@postgres:5432/swiftpaydb?schema=wallet_service
      - REDIS_URL=redis://redis:6379
    command: sh -c "npx prisma migrate deploy && npm run dev"
    volumes:
      - ./wallet-service:/app
      - /app/node_modules
    depends_on:
      - postgres
      - redis
    networks:
      - backend

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: swiftpaydb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - backend

volumes:
  postgres-data:
  redis-data:
